<!-- Header -->
  <header id="header">
    <div class="inner">

      <!-- Logo -->
        <a href="{{ '/' | relative_url }}" class="logo">
          <span class="title">{{ site.title }}</span>
        </a>

      <!-- Nav -->
        <nav>
          <ul>
            <li><a href="#menu">Menu</a></li>
          </ul>
        </nav>

    </div>
  </header>

<!-- Menu -->
  <nav id="menu">
    <h2>Menu</h2>
    <ul>
      <li><a href="{{ '/' | relative_url }}">Home</a></li>
      {% for my_page in site.pages %}
        {% if my_page.menu == 'main' %}
          <li><a href="{{ my_page.url | relative_url }}">{{ my_page.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
